body { font-family: 'Trebuchet MS', Trebuchet, sans-serif; font-size: 15px; }
:focus { outline: 0; }
ul { list-style:none; padding: 0; margin: 0; }
.button { border-radius: 0; background-color: darkblue; color: #fff; border: none; padding: 10px 30px; font-size: 16px; text-transform: uppercase; background-color: lightseagreen; display: inline-block; }
button { cursor: pointer; }
.start { text-align: center; position: absolute; top: 50%; left: 0; right: 0; z-index: 1; }
.start-button { }
.start-button.hide { display: none; }
.form { opacity: 0; overflow: hidden; position: relative; }
.form.show { opacity: 1; transition: opacity 1s; }
.form-title { margin-left: 20px; }
.form-list {}
.form-item { overflow:hidden; padding: 20px; border-top: 1px solid #ddd; }
.form-item:nth-of-type(odd) { background-color: #f9f9f9; }
.form-question { min-width: 340px; display: block; color: coral; }
.form-answers { margin-top: 10px; }
.form-answer { display: inline-block; min-width: 180px; }
.form-footer { margin-top: 20px; }
.form-submit { margin-left: 20px; }
.form-reset { float: right; margin-right: 20px; background-color: firebrick; }
.result { top: 20px; position: absolute; right: 20px; }